src/main/mule/scheduler.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e05f3f9e-b91f-41b8-a909-a0be57314db5" >
		<http:request-connection host="${http.host}" port="${http.port}" />
	</http:request-config>
	<file:config name="Read_File_Config" doc:name="File Config" doc:id="bb816124-7321-44d7-882a-888d3a3ae024" >
		<file:connection workingDir="#[p('file.readPath')]" />
	</file:config>
	<os:object-store name="StoreLoopIndexValue" doc:name="Object store" doc:id="e63d7926-125f-42cd-a065-4f5b6c1b5ec8" entryTtl="1" entryTtlUnit="MINUTES" />
	<file:config name="Write_File_Config" doc:name="File Config" doc:id="f729c62a-4dea-4d1f-ab89-8e01153ae12f" >
		<file:connection workingDir="#[p('file.writepath')]" />
	</file:config>
	<flow name="schedulerFlow" doc:id="69d49ed7-4f8b-4757-aeab-67be2ebd269b" >
		<http:listener doc:name="Listener" doc:id="0df6aab9-b45c-4efb-9a55-05e7c05e4121" config-ref="HTTP_Listener_config" path="/listener"/>
		<set-variable value='#[lower(payload.country replace  " " with "-") ++ ".json"]' doc:name="Set Variable" doc:id="31d4691d-2444-4afc-8178-46ff513881c2" variableName="setFilePath"/>
		<file:write doc:name="Write" doc:id="7acc525a-90f2-4068-9394-00b604859274" config-ref="Write_File_Config" path="#[p('file.writePath') ++ vars.setFilePath]" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="506023ef-2751-4cdc-9afe-27b5485f4eec" message='#[vars.setFilePath]' />
	</flow>
	<flow name="schedulerFlow1" doc:id="025f4f83-28d1-47ef-a743-17e836483eb0" >
		<scheduler doc:name="Scheduler" doc:id="f75e106e-9d32-451e-b17a-37ac1d03a880" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<os:contains doc:name="Contains" doc:id="7e708eca-fdd5-428f-ad24-38e66b93ccb4" objectStore="StoreLoopIndexValue" key="indexNumber" target="indexNumberStatus"/>
		<choice doc:name="Choice" doc:id="5db2ad0c-2cb8-46c3-b3ea-b845cdd2094c">
			<when expression="#[vars.indexNumberStatus == true]">
				<os:retrieve doc:name="Retrieve start Index" doc:id="441fbe2a-aa4a-41d4-b802-ee331340db6c" key='#["indexNumber"]' target="startIndex" objectStore="StoreLoopIndexValue"/>
				<set-variable value="#[vars.startIndex as Number + 1]" doc:name="Set stop index" doc:id="bf5eb7a1-36ce-47fc-81ab-a56da861add6" variableName="stopIndex"/>
				<file:read doc:name="Read" doc:id="019a73ae-47f0-4b82-973e-b481556931c0" config-ref="Read_File_Config" path="#[p('file.readPath') ++  &quot;user-data.json&quot;]" />
				<ee:transform doc:name="Transform Message" doc:id="6bc72368-bfaa-4e73-938c-028690af3dbf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Arrays
output application/json
---
//slice(payload as Array, vars.startIndex as Number, vars.startIndex as Number)
//slice(payload as Array, vars.startIndex as Number, vars.stopIndex as Number)
payload[vars.startIndex as Number]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<http:request method="POST" doc:name="Request" doc:id="4c367ae3-331d-4d1f-8cf1-697df683b774" config-ref="HTTP_Request_configuration" path="/listener">
					<http:body ><![CDATA[#[%dw 2.0
output application/json
---
payload]]]></http:body>
				</http:request>
				<os:store doc:name="Store" doc:id="47d6e59f-8818-4005-9b89-97e199bd9e18" key="indexNumber" objectStore="StoreLoopIndexValue">
					<os:value ><![CDATA[#[vars.stopIndex]]]></os:value>
				</os:store>
			</when>
			<otherwise >
				<os:store doc:name="initialize loop index from 0." doc:id="3f7878be-a58d-4f31-82cf-61f18967eac9" key='#["indexNumber"]' objectStore="StoreLoopIndexValue">
			<os:value><![CDATA[#[0]]]></os:value>
		</os:store>
			</otherwise>
		</choice>
	</flow>
</mule>
